.btn-load--circle-only
  &:after
    content " "
    position absolute
    height 14px
    width 14px
    right 42%
    animation circle 1.3s infinite linear
    border 2px solid transparent
    border-radius 50%
  &.btn-outline
    &:hover
      background-color transparent
    &:after
      border-color #0a8cfd
  &.btn-primary
    &:hover
      background-color transparent
    &:after
      border-color #0079bb
  &.btn-info
    &:hover
      background-color transparent
    &:after
      border-color #71c1d8
  &.btn-success
    &:hover
      background-color transparent
    &:after
      border-color #7ec77e
  &.btn-warning
    &:hover
      background-color transparent
    &:after
      border-color #fbbc64
  &.btn-danger
    &:hover
      background-color transparent
    &:after
      border-color #e37873
  &.btn-dark
    &:hover
      background-color transparent
    &:after
      border-color #505050

.btn-load--circle-only.btn-outline,
.btn-load--circle-only.btn-primary,
.btn-load--circle-only.btn-info,
.btn-load--circle-only.btn-success,
.btn-load--circle-only.btn-warning,
.btn-load--circle-only.btn-danger,
.btn-load--circle-only.btn-dark
  color transparent
  border-color transparent
  background-color transparent

.btn-load--circle-only.btn-outline:after,
.btn-load--circle-only.btn-primary:after,
.btn-load--circle-only.btn-info:after,
.btn-load--circle-only.btn-success:after,
.btn-load--circle-only.btn-warning:after,
.btn-load--circle-only.btn-danger:after,
.btn-load--circle-only.btn-dark:after
  border-right-color transparent

      
@keyframes circle
    0%
      transform rotate(0deg)

    100%
      transform rotate(360deg)

