$outline = #0a8cfd
$primary = #005888
$primary_hover = #0079bb
$info = #49AFCD
$info_hover = #71c1d8
$success = #5BB75B
$success_hover = #7ec77e
$warning = #FAA732
$warning_hover = #fbbc64
$danger = #DA4F49
$danger_hover = #e37873
$dark = #363636
$dark_hover = #505050

.btn-outline
  border 1px solid $outline
  color $outline
  &:hover
    background $outline
    text-decoration none

.btn-primary
  background $primary
  border 1px solid $primary
  &:hover
    background $primary_hover

.btn-info
  background $info
  border 1px solid $info
  &:hover
    background $info_hover

.btn-success
  background $success
  border 1px solid $success
  &:hover
    background $success_hover

.btn-warning
  background $warning
  border 1px solid $warning
  &:hover
    background $warning_hover

.btn-danger
  background $danger
  border 1px solid $danger
  &:hover
    background $danger_hover

.btn-dark
  background $dark
  border 1px solid $dark
  &:hover
    background $dark_hover

